* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  line-height: 1.19;
  overflow-x: hidden;
}

.main-header {
  position: relative;
  width: 100vw;
  text-align: center;
  position: relative;
  background-color: black;
}

.navigation {
  width: 100vw;
}

.navigaton-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 0 50px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.header-content {
  margin-top: 200px;
  padding: 50px;
}

.about-section {
  width: 100vw;
  height: 165vh;
  text-align: center;
  background-color: black;
}

.about-content {
  position: relative;
  margin-bottom: 115px;
}

.about-us {
  color: white;
  position: absolute;
  top: 800px;
  left: 950px;
  font-weight: 700;
  text-align: justify;
}

.row {
  display: flex;
  justify-content: space-between;
  color: white;
  position: absolute;
  top: 1150px;
  left: 770px;
  width: 480px;
}

.section-purpose {
  width: 100vw;
  height: 130vh;
  position: relative;
  background: linear-gradient(rgb(77, 75, 75), black);
}

.purpose-content {
  width: 1000px;
  height: 820px;
  color: white;
  position: absolute;
  top: 80px;
  left: 257px;
}

a {
  text-decoration: none;
}

.lists {
  list-style: none;
  color: white;
}

.links:link,
.links:visited {
  color: white;
  cursor: pointer;
}

.logo {
  width: 100px;
  height: 50px;
  margin-right: 300px;
}

.btn:link,
.btn:visited {
  padding: 15px 20px;
  display: inline-block;
  color: white;
}

.btn-colored:link,
.btn-colored:visited {
  background-image: linear-gradient(to right, #E02337, #BA18AA);
  color: white;
}

.btn-colored:hover {
  background-image: linear-gradient(to right, #BA18AA, #E02337);
}

.primary-heading {
  font-size: 60px;
  line-height: 72px;
  color: white;
  margin-bottom: 18px;
}

.gradient {
  background-image: linear-gradient(to right, #E02337, #BA18AA);
  background-clip: text;
  color: transparent;
}

.heading-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: white;
  margin-bottom: 50px;
}

.btn-transparent:link,
.btn-transparent:visited {
  background-color: transparent;
  border: 1px solid #454545;
}

.btn-transparent:hover {
  background-color: #454545;
  color: rgba(0, 0, 0, 0.9725490196);
}

.mockup {
  position: relative;
  right: 30px;
  width: 1100px;
  height: 750px;
  z-index: 5;
}

.image {
  position: absolute;
  top: 570px;
  left: 260px;
  width: 700px;
  height: 750px;
  z-index: 4;
}

.heading-secondary {
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 10px;
}

.paragraph-about {
  font-size: 16px;
  font-style: italic;
  line-height: 25px;
  margin-bottom: 40px;
}

.number {
  font-weight: 700;
  font-size: 56px;
  background-image: linear-gradient(to right, #E02337, #BA18AA);
  background-clip: text;
  color: transparent;
}

.plus {
  position: absolute;
  top: 9px;
  font-size: 30px;
  font-weight: 700;
  background-image: linear-gradient(to right, #E02337, #BA18AA);
  background-clip: text;
  color: transparent;
}

.words {
  font-size: 16px;
  font-weight: 700;
}

.firt-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.row-1-of-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.row-2-of-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.tertiary-heading {
  margin-bottom: 10px;
  font-size: 30px;
}

.purpose-bnts {
  margin-top: 50px;
}

/*# sourceMappingURL=style.css.map */
