* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  line-height: 1.19;
  overflow-x: hidden;
}

.main-header {
  position: relative;
  width: 100vw;
  height: 90vh;
  text-align: center;
  position: relative;
  background-color: black;
}

.navigation {
  width: 100vw;
}

.navigaton-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 0 50px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.header-content {
  padding-top: 180px;
}

.about-section {
  width: 100vw;
  height: 185vh;
  text-align: center;
  background-color: black;
}

.about-us {
  display: inline-block;
  color: white;
  position: absolute;
  right: 235px;
  top: 70px;
  font-weight: 700;
  text-align: justify;
}

.row {
  display: flex;
  justify-content: space-between;
  color: white;
  position: absolute;
  right: 235px;
  top: 450px;
  width: 480px;
}

.section-purpose {
  width: 100vw;
  height: 140vh;
  position: relative;
  background: linear-gradient(rgb(77, 75, 75), black);
}

.two-rows {
  position: relative;
}

.purpose-content {
  width: 60%;
  height: 820px;
  color: white;
  position: relative;
  top: 80px;
  left: 257px;
}

.section-cards {
  width: 100vw;
  height: 120vh;
  padding: 100px 200px 100px 250px;
  background-image: linear-gradient(to right, #E02337, #BA18AA);
  color: white;
}

.card-container {
  display: inline-block;
}

.card-introduction {
  padding-bottom: 50px;
}

.row-cards {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.card-footer {
  padding-top: 20px;
  padding-left: 15px;
}

.section-bottom {
  height: 80vh;
  background-image: url(/img/BG.png);
  background-position: bottom;
  background-size: cover;
  color: white;
}

.bottom-content {
  padding-top: 150px;
  padding-left: 250px;
}

.portfolio {
  background-color: #1b1b1b;
  color: white;
}

.portfolio-container {
  width: 100%;
  background-color: #1b1b1b;
}

.portfolio-contents {
  width: 65%;
  margin: 0 auto;
  padding: 50px 0;
}

.contact {
  background-color: #1b1b1b;
  color: white;
  padding-bottom: 50px;
}

.contact-details {
  width: 100vw;
}

.contact-intro {
  margin-bottom: 35px;
  text-align: center;
}

.form-containts {
  width: 40%;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
}

a {
  text-decoration: none;
}

.lists {
  list-style: none;
  color: white;
}

.links:link,
.links:visited {
  color: white;
  cursor: pointer;
}

.logo {
  width: 100px;
  height: 50px;
  margin-right: 300px;
}

.btn:link,
.btn:visited {
  padding: 15px 20px;
  display: inline-block;
  color: white;
}

.btn-colored:link,
.btn-colored:visited {
  background-image: linear-gradient(to right, #E02337, #BA18AA);
  color: white;
}

.btn-colored:hover {
  background-image: linear-gradient(to right, #BA18AA, #E02337);
}

.primary-heading {
  font-size: 60px;
  line-height: 72px;
  color: white;
  margin-bottom: 18px;
}

.gradient {
  background-image: linear-gradient(to right, #E02337, #BA18AA);
  background-clip: text;
  color: transparent;
}

.heading-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: white;
  margin-bottom: 50px;
}

.btn-transparent:link,
.btn-transparent:visited {
  background-color: transparent;
  border: 1px solid #454545;
}

.btn-transparent:hover {
  background-color: #454545;
  color: rgba(0, 0, 0, 0.9725490196);
}

.mockup {
  position: relative;
  right: 30px;
  width: 1100px;
  height: 750px;
  z-index: 5;
}

.image-1 {
  position: relative;
}

.image {
  position: absolute;
  top: -180px;
  left: 211px;
  width: 700px;
  height: 780px;
  z-index: 4;
}

.heading-secondary {
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 10px;
}

.paragraph-about {
  font-size: 16px;
  font-style: italic;
  line-height: 25px;
  margin-bottom: 40px;
}

.number {
  font-weight: 700;
  font-size: 56px;
  background-image: linear-gradient(to right, #E02337, #BA18AA);
  background-clip: text;
  color: transparent;
}

.plus {
  font-size: 30px;
  font-weight: 700;
  background-image: linear-gradient(to right, #E02337, #BA18AA);
  background-clip: text;
  color: transparent;
}

.words {
  font-size: 16px;
  font-weight: 700;
}

.firt-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.row-1-of-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.row-2-of-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.tertiary-heading {
  margin-bottom: 10px;
  font-size: 30px;
}

.purpose-bnts {
  margin-top: 50px;
}

.heading-fourth {
  margin-bottom: 20px;
}

.pic {
  width: 300px;
  height: 250px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-bottom-btn {
  margin-bottom: 15px;
}

.card-col-1 {
  background-color: rgb(34, 34, 34);
}

.section-bottom .firt-paragraph {
  margin-bottom: 40px;
}

.navigation-port {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px;
  font-size: 14px;
  font-weight: 700;
}

.row-cards-port {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.card-col-1-port {
  background-color: rgb(34, 34, 34);
}

.contact-intro h1 {
  color: #E02337;
}

.contact-intro h4 {
  font-size: 20px;
}

.contact-intro a {
  color: #E02337;
}

input {
  outline: none;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 20px;
}
input:focus {
  border: 1px solid #E02337;
}

#first {
  width: 49%;
}

#last {
  width: 49%;
}

#same {
  width: 100%;
}

textarea {
  outline: none;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
}

textarea:focus {
  border: 1px solid #E02337;
}

.form-containts h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.9725490196);
}

/*# sourceMappingURL=style.css.map */
