*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    font-family: 'Space Mono', monospace;
    line-height: 1.19;
    // background-color: black;
    overflow-x: hidden;
}