.navigation-list{
    width: 18rem;
    font-size: .8rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navigation-item{
    text-decoration: none;
    color: #FFFFFF;
}

.logo{
    width: 5rem;
    height: 3rem;
    margin-left: -8rem;
}

.btn-nav{
    text-decoration: none;
    font-size: .8rem;
    font-weight: 400;
    padding: .7rem 1rem;
    color: #FFFFFF;
    background: linear-gradient(to right, #E02337, #BA18AA);

    &:hover{
        background: linear-gradient(to right, #BA18AA, #E02337);
    }

}

.btn-secondary{
    font-size: .8rem;
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    padding: .7rem 1rem;
    border: 1px solid #454545;
    margin-left: .8rem;

    &:hover{
        background-color: #454545;
    }
}

.mainimg-hero{
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    margin-top: 5rem;
    z-index: 1;
    // border: 2px solid red;
}

.mainimg-picture{
    height: 35rem;
}