.main-header{
    text-align: center;
    background-color: black;
    padding-bottom: 50px;
}

.navigation{
    width: 100vw;
}

.navigaton-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 0 50px;
}

.navigation-list{
    display: flex;
    justify-content: space-between;
    width: 350px;

    @media screen and (max-width: 600px){
        display: none;
    }
}



.header-content{
    padding-top: 100px;

    @media screen and (max-width: 600px){
        padding-top: 180px;
    }
}

.about-section{
    text-align: center;
    background-color: black;
}

.about-us{
    color: #ffff;
    font-weight: 700;
    text-align: justify;
    margin-left: 900px;
    margin-top: -500px;

    @media screen and (max-width: 600px){
        margin-left: 0;
        margin-top: 50px;
        display: inline-block;

    }
}


.row{
    display: flex;
    justify-content: space-between;
    color: #ffff;
    width: 480px;
    flex-wrap: nowrap;
    margin-left: 750px;
    margin-top: 100px;

    @media screen and (max-width: 600px){
        margin-left: 50px;
        margin-top: 50px;
        padding-bottom: 100px;
    }

    @media screen and (max-width: 348px){
        width: 300px;
        margin-left: 15px;
    }
}

.section-purpose{
    border: 1px solid rgba(250, 250, 250, 0.367);
    padding: 50px auto;
    background: linear-gradient(rgb(77, 75, 75), black);
}

.purpose-content{
    color: white;
    width: 65%;
    margin: 50px auto;

    @media screen and (max-width: 348px){
        width: 100%;
        margin: 50px 0;
        padding-left: 10px;
    }
}


.section-cards{
    background-image: linear-gradient(to right, #E02337, #BA18AA);
    color: #ffff;
    border: 1px solid rgba(250, 250, 250, 0.367);

}

.card-container{
    width: 65%;
    margin: 50px auto;
    background-image: linear-gradient(to right, #E02337, #BA18AA);

    // @media screen and (max-width: 600px){
    //     width: 100%;
    // }

}

.card-introduction{
    padding-bottom: 50px;
}


.row-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    @media screen and (max-width: 600px){
        flex-direction: column;
    }
    
}

.card-footer{
    padding-top: 20px;
    padding-left: 15px;
}

.section-bottom{
    background-image: url(/img/BG.png);
    background-position: bottom;
    background-size: cover;
    color: #ffff;
    padding-bottom: 100px;
}

.bottom-content{
   padding-top: 150px;
   padding-left: 250px;

   @media screen and (max-width: 600px){
    width: 80%;
    padding-left: 0;
    margin: 0 auto;
    padding-top: 50px;
    }

    @media screen and (max-width: 348px){
        width: 100%;
        padding-left: 10px;
    }
}

.portfolio{
    background-color: #1b1b1b;
    color: #ffff;
}

.portfolio-container{
    width: 100%;
    background-color: #1b1b1b;
}

.portfolio-contents{
    width: 65%;
    margin: 0 auto;
    padding: 50px 0;


    @media screen and (max-width: 348px){
        width: 90%;
    }
}

.contact{
    background-color: #1b1b1b;
    color: #ffff;
    padding-bottom: 50px;
}

.contact-details{
    width: 100vw;
}

.contact-intro{
    margin-bottom: 35px;
    text-align: center;
}

.form-containts{
    width: 40%;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffff;

    @media screen and (max-width: 600px){
        width: 60%;
    }

    @media screen and (max-width: 348px){
        width: 90%;
    }
}