.main-header{
    position: relative;
    width: 100vw;
    height: 90vh;
    text-align: center;
    position: relative;
    background-color: black;
    
}

.navigation{
    width: 100vw;
    
}

.navigaton-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 0 50px;
}

.navigation-list{
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.header-content{
    padding-top: 180px;
}

.about-section{
    width: 100vw;
    height: 185vh;
    text-align: center;
    background-color: black;
}

.about-us{
    display: inline-block;
    color: #ffff;
    position: absolute;
    right: 235px;
    top: 70px;
    font-weight: 700;
    text-align: justify;
    
}


.row{
    display: flex;
    justify-content: space-between;
    color: #ffff;
    position: absolute;
    right: 235px;
    top: 450px;
    width: 480px;
    
}

.section-purpose{
    width: 100vw;
    height: 140vh;
    position: relative;
    background: linear-gradient(rgb(77, 75, 75), black);
}

.two-rows{
    position: relative;
}

.purpose-content{
    width: 60%;
    height: 820px;
    color: white;
    position: relative;
    top: 80px;
    left: 257px;
    
}

.section-cards{
    width: 100vw;
    height: 120vh;
    padding: 100px 200px 100px 250px;
    background-image: linear-gradient(to right, #E02337, #BA18AA);
    color: #ffff;
}

.card-container{
    display: inline-block;
    
}

.card-introduction{
    padding-bottom: 50px;
}
.row-cards{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    
    
}

.card-footer{
    padding-top: 20px;
    padding-left: 15px;
}

.section-bottom{
    height: 80vh;
    background-image: url(/img/BG.png);
    background-position: bottom;
    background-size: cover;
    color: #ffff;
}

.bottom-content{
   padding-top: 150px;
   padding-left: 250px;
}

.portfolio{
    background-color: #1b1b1b;;
    color: #ffff;
}

.portfolio-container{
    width: 100%;
    background-color: #1b1b1b;
}

.portfolio-contents{
    width: 65%;
    margin: 0 auto;
    padding: 50px 0;
}